<!DOCTYPE html>
<html >
<head>
  <meta charset="UTF-8">
  <title>Diabetes Predictor</title>
  <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Amatic+SC:wght@700&display=swap" rel="stylesheet">
  
  <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Amatic+SC:wght@700&family=Lobster&display=swap" rel="stylesheet">
  <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/index.css') }}">
</head>
<body>
 <div class="login">
	<center><h1>Diabetes Predictor</h1>
	<form action="{{ url_for('predict')}}"method="post">
                <input class="form-input" type="text" name="pregnancies" placeholder="Number of Pregnancies eg. 0"><br>
                <input class="form-input" type="text" name="glucose" placeholder="Glucose (mg/dL) eg. 80"><br>
                <input class="form-input" type="text" name="bloodpressure" placeholder="Blood Pressure (mmHg) eg. 80"><br>
                <input class="form-input" type="text" name="skinthickness" placeholder="Skin Thickness (mm) eg. 20"><br>
                <input class="form-input" type="text" name="insulin" placeholder="Insulin Level (IU/mL) eg. 80"><br>
                <input class="form-input" type="text" name="bmi" placeholder="Body Mass Index (kg/m²) eg. 23.1"><br>
                <input class="form-input" type="text" name="dpf" placeholder="Diabetes Pedigree Function eg. 0.52"><br>
                <input class="form-input" type="text" name="age" placeholder="Age (years) eg. 34"><br>
        <button type="submit" class="btn btn-primary btn-block btn-large">Predict</button>
    </form></center><br><br>
    <marquee direction="left"><p style="font-family: 'Lobster', cursive;">Done By: N.V.S Sairam, V Dhanalakshmi, M Rakesh bhaskar&emsp;&emsp;&emsp;   Guided By: Dr.S Bosubabu (MCA,M.Tech,AMIE,(Ph.D))</p></marquee>
   {{ prediction_text }}
   </div>
</body>
</html>
</html>

